{% extends 'base.html' %}
{% block title %}
<title>Register</title>
{% endblock %}
{% block style %}
<style>
.form-control{
width:50%;
margin-left:25%;}
  .form-label{
  margin-left:25%}
  .btn{
  margin-left:47%}
  .btn:hover{
  background-color:black;}
  .form-control:hover{
  background-color:rgb(222, 222, 222);}

</style>
{% endblock %}
{% block content %}
<h2>Register</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" name="u" placeholder="Enter Username">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="p" placeholder="password">
  </div>
  <div class="mb-3">
    <label class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="cp" placeholder="confirm password">
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="e" placeholder="Email">
  </div>
  <div class="mb-3">
    <label class="form-label">Second Name</label>
    <input type="text" class="form-control" name="f" placeholder="First name">
  </div>
    <div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="text" class="form-control" name="s" placeholder="Second name">
  </div>
  <div class="mb-3">
    <input type="submit" class="form-control">
</form>
  </div>
{% endblock %}